#bookSection {
    article {
        border-bottom: 1px solid var(--secondaryColor);
        margin: var(--marginMedium);
        padding-bottom: var(--paddingMedium);
        img {
            display: grid;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
        header {
            padding: 0;
            margin: var(--marginMedium) 0;
            background-color: var(--backgroundColor);
            color: var(--fontColorPrimary);
            h4 {
                font-size: var(--fontSmallHeader);
            }
            p {
                font-weight: 500;
            }
            span {
                font-weight: 400;
            }
        }
    }
}
@media (min-width:650px){
    #bookSection {
        article {
            display: flex;
            flex-direction: row;
            gap: var(--marginLarge);
            img {
                order: 2;
            }
        }
    }
}
@media (min-width: 1024px){
    #bookSection {
        .books {
            display: grid;
            grid-template-columns: 1fr 1fr;
            article {
                border-radius: 0.5rem;
                padding: var(--paddingSmall);
                border: 1px solid var(--secondaryColor);
                img {
                    width: var(--imgXsmall);
                    height: min-content;
                    align-self: center;
                }
            }
        }
    }
}