@import "_variables.css";
@import "_homesection.css";
@import "_toursection.css";
@import "_booksection.css";
@import "_contactsection.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--fontMain);
    font-size: var(--fontBody);
    font-weight: 400;
    font-style: normal;
    line-height: 1.2rem;
    color: var(--fontColorPrimary);
    background-color: var(--backgroundColor);
    img {
        width: 100%;
    }
    .mainHead {
        padding: var(--paddingMedium);
        background-color: var(--primaryColor);
        p {
            margin: var(--marginSmall) 0;
        }
        select {
            padding: var(--paddingSmall) var(--paddingMedium);
            border-radius: 0.5rem;
            cursor: pointer;
        }
        img {
            display: none;
        }
    }
    nav {
        text-align: center;
        background-color: var(--tertiaryColor);
        li {
            padding: var(--paddingSmall) 0;
            border-bottom: 1px solid var(--secondaryColor);
            list-style: none;
            a {
                color: var(--fontColorSecondary);
                text-decoration: none;
            }
        }
    }
    header {
        background-color: var(--tertiaryColor);
        color: var(--secondaryColor);
        padding: var(--paddingSmall);
    }
    #upArrow{
        display: grid;
        margin-left: auto;
        padding: var(--paddingMedium);
        background-color: transparent;
        border: none;
        cursor: pointer;
        width: fit-content;
    }
    footer {
        width: 100%;
        background-color: var(--primaryColor);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--marginMedium);
        padding: var(--paddingMedium);
        text-align: center;
        .keaLogo,  .socialsLogos{
            display: flex;
            gap: var(--marginSmall);
            margin-bottom: var(--marginSmall);
            justify-content: center;
            img {
                width: 50%;
            }
            p {
                color: var(--fontColorSecondary);
            }
        }
        .socialsLogos img{
            width: 20%;
            border-radius: 50%;
            cursor: pointer;
        }
        .policies p{
            color: var(--fontColorSecondary);
        }
        p {
            color: var(--secondaryColor);
            a {
                text-decoration: none;
                color: var(--fontColorSecondary);
                
            }
        }
    }
    @media (min-width:650px){
        .mainHead {
            display: grid;
            grid-template-columns: auto 2fr auto;
            align-items: center;
            justify-items: center;
            h1 {
                font-size: var(--fontLargeHeader);
            }
            p {
                font-size: var(--fontMediumHeader);
            }
            img {
                display: block;
                border-radius: 50%;
                width: var(--imgXsmall);
            }
        }
        nav {
            ul {
                display: flex;
                justify-content: space-evenly;
            }
            li {
                border-bottom: none;
            }
        }
        footer {
            display: grid;
            grid-template-columns: auto 2fr auto;
            align-items:start;
            .keaLogo{
                flex-direction: column;
            }
            .socialsLogos {
                justify-content: start;
            }
            .credits {
                text-align: end;
            }
            .copyright {
                grid-column: 2;
            }
        }
    }
    @media (min-width: 1024px){
        margin: 0 var(--marginXlarge);
    }
}